@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto';
}

/* Titre Accueil */

.titrea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 250%;
}

#jeux {
    height: 1px;
}

/* Caroussel */

a.prev,a.next {
    height:91px;
    position:absolute;
    width:43px;
    top: 15rem;
    opacity:0.6;
    text-indent:-99999px;
    cursor:pointer;
    -webkit-transition:opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
}
a.prev:hover,a.next:hover {
    opacity:1;
}
.prev {
    left:0;
    background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -200px 25px;
}
.next {
    right:0;
    background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -167px 25px;
}
.slider {
    margin: auto;
    height:100vh;
    position: relative;
    width: 70%;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
}
.slide {
    position:absolute;
    height:100%;
    width:100%;
}
.slider .slide:target {
    z-index: 100;
}
img {
    width:100%;
    left:0;
}







/* Descriptif */

.descriptif {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    margin-top: 100px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    font-size: 150%;
}

.bouton_classement {
    background-color: white;
    color: black;
    margin: 20px;
    border-radius: 5px;
    transition: 1000ms ease;
}

.bouton_classement:hover {
    background-color: lightgray;
}

.bouton_classement a {
    text-decoration: none;
    color: black;
    font-size: 150%;
}


.bouton_classement a p {
    margin: 15px;
}